.cardWrapper {
    flex: 0 0 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    color: white;
    width: 250px;
    font-size: 14px;
}

.posterImage {
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.infoWrapper {
    text-align: center;
    /* border: 2px solid blue; */
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 90px; /* Total height, adjust as needed */
}

.movieTitle {
    font-size: 16px;
    color: white;
    margin: 10px 0;
    
}

.detailsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 2px solid green; */
    flex-grow: 1; /* This will make it take up the remaining space */

}

.releaseYear {
    font-size: 14px;
    color: #888;
}

.rating {
    font-size: 14px;
    color: #FFA500;
    /* Star color */
}