.card {
    border-radius: 12px;
    padding: 20px;
    max-width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.inputField,
.textArea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    background-color: #373737;
}

.textArea {
    resize: none;
    height: 100px;
}

.button {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    /* border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

.cancelButton {
    background-color: #ff4d4f;
}

.cancelButton:hover {
    background-color: #d43537;
}

.error {
    color: #d43537;
    font-size: 14px;
    margin-bottom: 15px;
}
