.icon-button {
    background-color: #b22222;
    color: white;
    padding: 5px;
    margin: 0 10px;
    border-radius: 50%; /* Makes it round */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;  /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
  }
  
  .icon-button:hover {
    background-color: darkred; /* Optional: change background on hover */
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-size: 16px;
    visibility: hidden;
    width: 170px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }