.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding: 50px;
}

.movie {
    text-decoration: none;
    color: inherit;
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0; /* Remove padding from .movie */
    overflow: hidden; /* Hide overflow to keep text inside the card */
    position: relative; /* Positioning for absolute children */
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie img {
    /* border-radius: 8px; */
    width: 100%; /* Make the image cover the entire card */
    height: 100%; /* Make the image cover the entire card */
    object-fit: cover;
    /* Ensure image covers the area */
    margin-bottom: 0; /* Remove margin as image covers the whole card */
    transition: opacity 0.3s; /* Smooth transition for the image opacity */
}


@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -50%) scale(0.8); }
    10% { opacity: 1; transform: translate(-50%, -50%) scale(1.2); }
    90% { opacity: 1; transform: translate(-50%, -50%) scale(1.2); }
    100% { opacity: 0; transform: translate(-50%, -50%) scale(0.8); }
}

.movie h4 {
    font-size: 1.2em;
    margin: 10px 0;
    color: white;
    opacity: 0; /* Initially hide the text */
    transition: opacity 0.3s; /* Smooth transition for text opacity */
    position: absolute; /* Position text absolutely within the card */
    top: 50%; /* Center the text vertically */
    left: 50%; /* Center the text horizontally */
    transform: translate(-50%, -50%); /* Translate to perfectly center */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a fancy font */
    font-size: 2rem;
    /* animation: fadeInOut 3s ease forwards; Apply the animation */
    
}

.movie:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* background-color: #333; */
}

.movie:hover img {
    opacity: 0.3; /* Dim the image on hover */
}

.movie:hover h4 {
    opacity: 1; /* Show the text on hover */
}







/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #621a1a;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:disabled {
    background-color: #000000;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: #b22222;
  }

  
  .loadingRing {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #b22222; /* Dark red */
    border-radius: 50%;
    width: 50px; /* Size of the ring */
    height: 50px; /* Size of the ring */
    animation: spin 1s linear infinite; /* Spin animation */
    margin: 0 auto; /* Center the loading ring */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  