.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b22222; /* Firebrick red background */
    color: #fff;
    padding: 12px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.nav {
    display: flex;
    gap: 20px;
}

.navItem {
    position: relative;
    cursor: pointer;
    padding: 5px;

}

.navItem span {
    font-size: 18px;
    color: white;

}

/* .navItem:hover span {
    background-color: #fff;
} */

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border: 1px solid rgb(20, 20, 20);
    list-style: none;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: block;
    width: 150px;
    border-radius: 5px;
    z-index: 2;
}

.dropdown li {
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    
}

.dropdown li:hover {
    background-color: black;
    background-color: #343434;
}

.search{
    cursor: pointer;
}


/* .searchBtn:hover {
    background-color: #ff8566;
} */




.end{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.end {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative; /* Allow absolute positioning of profileDropdown */
}

.end div{
    cursor: pointer;
}

/* Dropdown style common for Movies and TV Shows */
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(20, 20, 20);
    list-style: none;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: block;
    width: 150px;
    border-radius: 20px;
    z-index: 2;
}

.profileDropdown {
    position: absolute;
    top: 40px; /* Positioned below the profile image */
    right: 0; /* Align to the right for better placement */
    background-color: black;
    border: 1px solid rgb(20, 20, 20);
    list-style: none;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: block;
    width: 170px;
    border-radius: 20px;
    z-index: 2;
}

.profileDropdown div{

    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgb(60, 60, 60);
    text-align: center;
}
.dropdown li, .profileDropdown li {
    padding: 5px 10px;
    margin: 5px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


.dropdown li:hover, .profileDropdown li:hover {
    background-color: #343434;
}

.loadingPlaceholder {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ccc; /* Placeholder color */
    position: absolute;
  }
  