.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b22222; /* Firebrick red background */
    color: #fff;
    padding: 12px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.nav {
    display: flex;
    gap: 20px;
}

.navItem {
    position: relative;
    cursor: pointer;
    padding: 5px;

}

.navItem span {
    font-size: 18px;
    color: white;

}

/* .navItem:hover span {
    background-color: #fff;
} */

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border: 1px solid rgb(20, 20, 20);
    list-style: none;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: block;
    width: 150px;
    border-radius: 5px;
    z-index: 2;
}

.dropdown li {
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    
}

.dropdown li:hover {
    background-color: black;
    background-color: #343434;
}

.search{
    cursor: pointer;
}


/* .searchBtn:hover {
    background-color: #ff8566;
} */




.end{
    display: flex;
    gap: 20px;
}