.cardWrapper {
    flex: 0 0 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    color: white;
    width: 250px;
    font-size: 14px;
}

.posterImage {
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.infoWrapper {
    padding: 10px;
    text-align: center;
}

.movieTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #333;
    color: white;
}

.detailsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.releaseYear {
    font-size: 14px;
    color: #888;
}

.rating {
    font-size: 14px;
    color: #FFA500;
    /* Star color */
}