.loadingRing {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #b22222; /* Dark red */
    border-radius: 50%;
    width: 50px; /* Size of the ring */
    height: 50px; /* Size of the ring */
    animation: spin 1s linear infinite; /* Spin animation */
    margin: 0 auto; /* Center the loading ring */
  }